.about-section {
  padding: 80px 8%;
}

.about-section h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #38bdf8;
  text-align: center;
}


/* Card container */
.about-card {
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
  max-width: fit-content;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

.about-card p {
  margin-bottom: 18px;
  font-size: 16px;
  line-height: 1.6;
  color: #cbd5e1;
}

.about-card strong {
  color: #ffffff;
  font-weight: 600;
}

@media (max-width: 768px) {
  .about-section {
    padding: 60px 6%;
  }

  .about-card {
    padding: 22px;
  }

  .about-section h2 {
    font-size: 26px;
  }

  .about-card p {
    font-size: 14px;
  }
}
