.contact-section {
  padding: 80px 8%;
  text-align: center;
}

.contact-section h2 {
  color: #38bdf8;
  margin-bottom: 10px;
  font-size: 32px;
}

.contact-links {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.contact-links a {
  color: #cbd5e1;
  text-decoration: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.3s;
}

.contact-links a:hover {
  color: #38bdf8;
  transform: translateY(-2px);
}

