.experience-container {
  max-width: fit-content;
  margin: 0 auto;
  padding: 20px;
  color:  #38bdf8;

}

.experience-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.experience-card {
  background-color: #1e293b;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  max-width: fit-content;
}

.experience-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.experience-position {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.experience-subtitle {
  font-size: 0.95rem;
  color: white;
  margin-bottom: 12px;
}

.experience-points {
  list-style-type: disc;
  list-style-position: inside;
  color: white;
}

.experience-points li {
  margin-bottom: 6px;
}
