.skills-section {
  padding: 80px 8%;
  text-align: center;
}

.skills-section h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color:  white;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
}

.skill-category {
  background: #1e293b;
  padding: 25px;
  border-radius: 12px;
  transition: 0.3s;
}

.skill-category:hover {
  transform: translateY(-6px);
  background: #334155;
}

.skill-category h3 {
  margin-bottom: 15px;
  color: white;
}

.skill-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}

.skill-icons span {
  display: flex;
  align-items: center;
  gap: 6px;
  background: #0f172a;
  padding: 8px 12px;
  border-radius: 20px;
  font-size: 14px;
}

.skill-icons svg {
  font-size: 18px;
  color: #38bdf8;
}

/* Tablet */
@media (max-width: 992px) {
  .skills-section {
    padding: 60px 6%;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .skills-section h2 {
    font-size: 26px;
  }

  .skill-category {
    padding: 20px;
  }

  .skill-icons span {
    font-size: 13px;
    padding: 7px 10px;
  }
}

/* Small Mobile */
@media (max-width: 480px) {
  .skills-section h2 {
    font-size: 22px;
  }

  .skill-category h3 {
    font-size: 16px;
  }

  .skill-icons span {
    font-size: 12px;
    padding: 6px 9px;
  }
}


