* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #0f172a;
  color: white;
}

section {
  padding: 70px 8%;
}

h1, h2, h3 {
  margin-bottom: 15px;
}

p {
  color: #cbd5e1;
  line-height: 1.6;
}

html {
  scroll-behavior: smooth;
}